extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura


block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada magna sodales turpis pellentesque, id accumsan ante suscipit. Maecenas mattis ultricies urna, id gravida turpis facilisis vel. Phasellus et condimentum purus. 
                p Aliquam sed congue tellus, sit amet mattis augue. Mauris pellentesque, nisi eu fermentum aliquam, velit quam sollicitudin nunc, nec pulvinar purus mi posuere massa. Sed vel tortor a dolor varius vestibulum. Curabitur eros sapien, ultrices nec mauris vitae, venenatis venenatis quam. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales
